services:
  backend:
    build:
      context: ../backend
    image: backend:latest
    container_name: backend
    ports:
      - "5000:5000"

  frontend:
    build:
      context: ../frontend
    image: frontend:latest
    container_name: frontend
    ports:
      - "3000:3000"
    environment:
      - API_URL=http://backend:5000
    depends_on:
      - backend
